:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #fe8f93);
}

.board {
    width: fit-content;
    margin: 40px auto;
    text-align: center;
}

.board .game {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 0px;
}

.square {
    width: 45px;
    height: 45px;
    position: relative;
}

.square.invisible {
    visibility: hidden;
}

.line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    cursor: pointer;
}

.line.selected {
    font-weight: bold;
    background-color: rgb(0, 162, 255);
}

.top {
    top: 0;
}

.left {
    transform-origin: top left;
    transform: rotate(90deg);
}

.bottom {
    bottom: 0;
}

.right {
    transform-origin: top right;
    transform: rotate(-90deg);
}

.value {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
}

.board .turn {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    width: 50px;
    position: relative;
    border-radius: 5px;
}

.turn.is-turn {
    background-color: aqua;
}

.winner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.winner .text {
    background: #d6f53b;
    height: 300px;
    width: 320px;
    border: 2px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text .result {
    font-size: 2em;
}

.winner .win {
    width: fit-content;
    font-size: 3em;
    display: flex;
    gap: 15px;
}